@font-face {
    font-family: 'TT Autonomous';
    src: url('/fonts/autonomous/font-tt-autonomous-regular.woff2') format('woff2'),
        url('/fonts/autonomous/font-tt-autonomous-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Autonomous';
    src: url('/fonts/autonomous/font-tt-autonomous-medium.woff2') format('woff2'),
        url('/fonts/autonomous/font-tt-autonomous-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Autonomous';
    src: url('/fonts/autonomous/font-tt-autonomous-bold.woff2') format('woff2'),
        url('/fonts/autonomous/font-tt-autonomous-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Autonomous';
    src: url('/fonts/autonomous/font-tt-autonomous-demi-bold.woff2') format('woff2'),
        url('/fonts/autonomous/font-tt-autonomous-demi-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Smalls';
    src: url('/fonts/smalls/font-tt-smalls-regular.woff') format('woff2'),
        url('/fonts/smalls/font-tt-smalls-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Smalls';
    src: url('/fonts/smalls/font-tt-smalls-medium.woff2') format('woff2'),
        url('/fonts/smalls/font-tt-smalls-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Smalls';
    src: url('/fonts/smalls/font-tt-smalls-italic.woff2') format('woff2'),
        url('/fonts/smalls/font-tt-smalls-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Smalls';
    src: url('/fonts/smalls/font-tt-smalls-demi-bold.woff2') format('woff2'),
        url('/fonts/smalls/font-tt-smalls-demi-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Smalls';
    src: url('/fonts/smalls/font-tt-smalls-bold.woff2') format('woff2'),
        url('/fonts/smalls/font-tt-smalls-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-main: 'TT Smalls', Arial, sans-serif;
    --font-optional: 'TT Autonomous', Arial, sans-serif;

    --color-primary: #25282A;
    --color-accent: #A1C437;
    --color-light: #fff;
    --color-optional-1: #585C61;
    --color-optional-2: #E6E6E6;
    --color-optional-3: #F5F5F5;
    --color-error: #E73030;
    --color-accent-trns: rgba(161, 196, 55, 0.75);
    --color-light-trns-025: rgba(255, 255, 255, .25);
    --color-light-trns-010: rgba(255, 255, 255, .1);
    --color-primary-trns-025: rgba(0, 0, 0, 0.25);

    --gradient-1: linear-gradient(90deg, #575757 -11%, #8C8C8C 100%);

    --spacing-x2: calc(1rem * 2);

    font-size: 16px;
    font-family: var(--font-main);
    line-height: 140%;
}

body {
    margin: 0 5rem 0 0;
    padding: 0;

    color: var(--color-primary);

    background-color: var(--color-optional-3);
    overflow-x: hidden;
}

.title-h3 {
    font-size: 2rem;
    line-height: 140%;
    font-family: var(--font-optional);
    text-transform: uppercase;
    font-weight: bold;
}

.paragraph {
    margin: 0;

    font-size: 1.5rem;
    line-height: 140%;
}

.paragraph--increased {
    margin: 0 0 1.25rem 0;

    font-size: calc(1rem * 2);
    line-height: 140%;
}

.highlight {
    color: var(--color-accent);
}

.address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.scrolling:focus {
    padding: 1.25rem;

    outline: solid 1px var(--color-optional-2);
}

.scrolling::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 2px;
    height: 25%;

    background-color: var(--color-accent);
} 

.scrolling::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 2px;
    height: 100%;

    background-color: var(--color-optional-2);
}

/* Buttons */

.button {
    margin: 0;
    padding: 1.25rem;

    color: inherit;
    text-align: center;
    font-size: 1.25rem; 
    font-family: 'TT Autonomous', 'Arial', sans-serif;   
    text-decoration: none;

    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;

    transition: background-color .4s ease-out,
                color .4s ease-out,
                border .4s ease-out,
                box-shadow .4s ease-out;
}

.button:disabled {
    opacity: .25;
}

.button:hover, .button:focus             {
    cursor: pointer;
    background-color: var(--color-accent);
}

.button--stroked {
    color: var(--color-light);

    border: solid 1px var(--color-light);
    background-color: transparent;
}

.button--stroked:hover, .button--stroked:focus {
    color: var(--color-primary);
    
    cursor: pointer;
    background-color: var(--color-light);
}

.button--stroked:active {
    cursor: pointer;
    background-color: var(--color-accent);
}

.button--dark {
    color:var(--color-accent);

    border: solid 1px var(--color-accent);
    background-color: var(--color-primary);
}

.button--dark:hover, .button--dark:focus {
    color: var(--color-primary);
    
    cursor: pointer;
    background-color: var(--color-accent);
    box-shadow: 0 0 1.5rem var(--color-accent);
}

.button--dark-stroked {
    color:var(--color-primary);

    border: solid 1px var(--color-primary);
    background-color: transparent;
}

.button--dark-stroked:hover, .button--dark-stroked:focus {
    color: var(--color-primary);
    
    cursor: pointer;
    background-color: var(--color-accent);
    box-shadow: 0 0 1.5rem var(--color-accent);
}

.button--clean {
    font-size: 0;

    border: none;
    outline: none;
    background-color: transparent;
}

.button-up {
    position: fixed;
    right: 5rem;
    bottom: -2.5rem;

    display: flex;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    z-index: 5;

    font-size: 0;

    border: none;
    outline: none;
    border-top-left-radius: 50%;
    background-color: var(--color-accent-trns);

    transition: background-color .4s ease-out,
                transform .4s ease-out;
}

.button-up__icon {
    transition: transform .4s ease-out;
}

.button-up:hover,
.button-up:focus {
    /* background-color: var(--color-light); */
    transform: translateY(-2.5rem);
}

.button-up__icon:hover svg,
.button-up__icon:focus svg {
    transform: scale(0.75);
}

.button-up__icon path {
    fill: var(--color-light);
}

.button--special {
    display: inline;
    padding: 0;
    margin: 0;
    
    text-align: left;
    font-family: var(--font-main);

    border: none;
    outline: none;
    background-color: transparent;
}

.button--special:hover,
.button--special:focus {
    color: var(--color-accent);
    background-color: transparent;
}

.button-close {
    font-size: 0;

    border: none;
    outline: none;
    background-color: transparent;

    stroke: #25282A;

    transition: stroke .4s ease-out;
}

.button-close svg {
    stroke: inherit;
}

.button-close:hover,
.button-close:focus,
.button-close:active {
    cursor: pointer;
    stroke: var(--color-accent);
}

.button-select {
    position: relative;

    width: 100%;
    margin: -1px 0 0 0;
    padding: 1.25rem;
    box-sizing: border-box;

    font-size: 1.5rem;
    font-family: var(--font-main);
    line-height: 140%;
    text-align: left;

    border-radius: 0;
    border: solid 1px var(--color-optional-2);
    background-color: transparent;
    /* appearance: none; */
    outline-style: none;

    transition: background-color .4s ease-out;
}

.button-select:hover,
.button-select:focus {
    position: relative;
    z-index: 2;

    border-color: var(--color-primary);
    background-color: var(--color-accent);
}

.button-select--active {
    position: relative;
    z-index: 2;

    border-color: var(--color-primary);
    background-color: var(--color-accent);
}

/* Nav */

.dot {
    width: 1.5rem;
    height: 1.5rem;

    font-size: 0;

    outline: none;
    border-radius: .75rem;
    border: none;
    background-color: var(--color-light);

    transition: background-color .4s ease-out,
                box-shadow .4s ease-out,
                opacity .4s ease-out;
}

.dot--grey {
    background-color: var(--color-optional-1);
}

.dot:hover,
.dot:focus {
    cursor: pointer;
    border-radius: .75rem;
    background-color: var(--color-accent);
    box-shadow: 0 0 .1rem .1rem var(--color-primary-trns-025);
}

.dot--active {
    background-color: var(--color-accent);
}

.arrow-wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: calc(14px / 2) 0;
}

.arrow {
    width: 3.75rem;
    height: 2px;

    font-size: 0;

    outline: none;
    border: none;
    background-color: var(--color-light);
    
    transition: background-color .4s ease-out,
                opacity .4s ease-out;
}

.arrow--dark {
    background-color: var(--color-primary);
}

.arrow--dark svg {
    stroke: var(--color-primary);
}

.arrow--disabled {
    width: calc(3.75rem / 2);

    opacity: .25;
}

.arrow:hover,
.arrow:focus {
    cursor: pointer;
    opacity: 1;
    background-color: var(--color-accent);
}

.arrow:hover .arrow-icon,
.arrow:focus .arrow-icon {
    stroke: var(--color-accent);
}

.arrow-icon {
    position: absolute;
    top: 0;
    left: -1px;
    stroke: var(--color-light);

    transition: stroke .4s ease-out;
}

.arrow-icon--right {
    left: auto;
    right: -1px;
}

.arrow-icon path {
    stroke: inherit;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background: var(--gradient-1);

    z-index: 1;
}

.progress-bar::before {
    content: '';
    position: absolute;
    left: 0;

    width: 50%;
    height: 100%;

    background-color: var(--color-accent);

    transition: width .4s ease-out;
}

/* Forms */

.field {
    padding: 0;
    margin: 0;

    border: none;
}

.label {
    font-size: 1.5rem;
    line-height: 140%;
}

.select {
    position: relative;

    margin: 0;
    padding: 1.25rem;
    box-sizing: border-box;

    font-size: 1.5rem;
    font-family: var(--font-main);
    line-height: 140%;

    border-radius: 0;
    border: solid 1px var(--color-optional-2);
    background-color: transparent;
    /* appearance: none; */
    outline-style: none;

    transition: background-color .4s ease-out;
}

.select:focus {
    border-color: var(--color-primary);
    background-color: var(--color-accent);
}

.select:focus + .select-list {
    /* display: flex; */
    flex-direction: column;
}

.select-list {
    position: absolute;
    bottom: calc(-1*(1em + 2.5rem));

    display: none;
    flex-direction: column;
}

.select-item {
    display: none;
    align-items: center;
    justify-content: space-between;

    text-align: left;
}

.select-item svg {
    stroke: var(--color-primary);
}

.option {
    /* display: none; */
    padding: 0.75rem 1.25rem;

    background-color: transparent;
    border: solid 1px var(--color-main);
}

.option:focus {
    background-color: transparent;
}

/* Elements */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.link {
    color: inherit;
    font-size: 1.25rem;
    text-decoration: none;

    transition: opacity .4s ease-out;
}

.link--light {
    color: var(--color-light);
    text-decoration: none;
}

.link--light:hover,
.link--light:focus {
    opacity: .5;
    outline: none;
}

.superscript {
    font-size: 2rem;
    line-height: 140%;
}

.section-title {
    margin: 0 0 1.25rem 0;

    font-family: var(--font-optional);
    font-size: 3rem;
    font-weight: bold;
    line-height: 120%;
    text-transform: uppercase;
}

.subtitle {
    font-size: 2.5rem;
    line-height: 100%;
}

.title-wrap {
    padding: 5rem 2.5rem 2.5rem 5rem;
    border-bottom: inset 1px var(--color-optional-2);
}

.list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.input {
    position: relative;

    margin: 0;
    padding: 0 0 1.25rem 0;
    box-sizing: border-box;

    color: var(--color-primary-trns-025);
    font-size: 2rem;
    font-family: var(--font-main);
    line-height: 140%;

    border:none;
    border-bottom: solid 2px var(--color-optional-2);
    background-color: transparent;

    transition: border .4s ease-out,
                background-color .4s ease-out,
                color .4s ease-out;
}

.input:focus {
    color: var(--color-primary);

    outline: none;
    border-bottom-color: var(--color-accent); 
}

.input--unselectable {
    padding: 1.25rem;
    box-sizing: border-box;

    font-size: 1.5rem;
    font-family: var(--font-main);
    line-height: 140%;

    border-radius: 0;
    border: solid 1px var(--color-optional-2);
    appearance: none;
    outline-style: none;
}

.input--unselectable:focus {
    color: var(--color-primary);

    outline: none;
    border: solid 1px var(--color-primary);
    border-bottom-color: var(--color-primary);
    background-color: var(--color-accent);
}

.input:read-only {
    position: relative;

    /* border-color: #E73030; */
}

.input--light {
    color: var(--color-light-trns-025);

    border-bottom: solid 2px var(--color-light);
}

.input--light:focus {
    color: var(--color-light);
}

.input:read-only::after {
    content: 'Введите корректные данные';
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    color: var(--color-error);
    font-size: 1.5rem;
    line-height: 160%;

}

.input::before {
    content: '1';
    position: absolute;
    left: 0;
    top: 10px;

    display: block;
    width: 100%;
    height: 20px;

    background-color: var(--color-accent);
    z-index: 1;
}

.input-wrap {
    position: relative;

    display: flex;
    flex-direction: column;
}

.input-wrap::after {
    content: 'Ошибка ввода данных';
    
    display: none;
    margin-top: 0.75rem;

    color: var(--color-error);
    
}

.hint {
    display: none;
    margin-top: .75rem;

    color: var(--color-error);
}

.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    z-index: 1;
}

.grid-column {
    width: calc(100% / 6);
    height: 100%;

    border-right: solid 1px var(--color-light-trns-010);
}

.container-inner {
    padding-left: 5rem;
    padding-right: 2.5rem;
}

.card {
    display: none;
}

.card--active {
    display: flex;
}

/* Main */

.main-title {
    font-family: 'TT Autonomous', 'Arial', sans-serif;
    line-height: 120%;
    text-transform: uppercase;
}

.main-subtitle {
    line-height: 140%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 5rem;
    background-color: gainsboro;
}

.main-header__logo {
    display: flex;
    gap: 0 20px;
}

.main-header__sign {
    position: relative;

    padding-right: 1.25rem;

    transition: all .4s ease-out;
}

.main-header__sign::after {
    --color-primary: var(--color-primary);
    content: '';
    position: absolute;
    right: 0;

    width: 1px;
    height: 100%;
    background-color: var(--color-primary);
}

.main-header__sign img {
    transition: all .4s ease-out;
}

.main-header__sign:hover, .main-header__sign:focus {
    outline: none;
}

.main-header__sign:hover img, .main-header__sign:focus img {
    outline: none;

    transform: scale(1.1);
}

.main-header__buttons {
    display: flex;

    width: calc((100% + 5rem)/2);
    margin: 0;
    padding: 0;
}

.main-header__buttons li {
    width: calc(100% / 3);
    padding: 0;
    
    list-style-type: none;
}

.main-header__link {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    gap: .75rem;

    font-size: 1rem;
}


.main-header__button {
    display: flex;
    justify-content: center;
    flex: 1;

    width: 100%;

    font-size: 1rem;
}

/* Homepage */

.homepage {
    position: relative;
    display: flex;
    align-items: center;

    min-height: 800px;

    color: var(--color-light);

    background: linear-gradient(90deg, #575757 -11%, #8C8C8C 100%);
}

.homepage__text {
    display: flex;
    flex-direction: column;
    width: calc((100% / 6)*4);
    padding-left: 5rem;

    user-select: none;
}

.homepage__title {
    position: relative;

    margin: 0 0 2.5rem 0;

    color: var(--color-accent);
    font-size: 3.5rem;
    z-index: 3;
}

.homepage__subtitle {
    margin: 0 0 5rem 0;
    width: calc(75% - 5rem);
}

.homepage__subtitle {
    font-size: 2.5rem;
}

.homepage__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;    
    gap: 1.25rem 0;

    margin: 0;
    padding: 0;
    z-index: 2;

    list-style-type: none;
}

.homepage__graphics {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 2;
}

.homepage__slider {
    position: relative;

    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.homepage__slides {
    position: relative;
    height: 690px;
}

.homepage__slide {
    display: flex;
    height: 100%;

    background-color: var(--color-light);
}

.homepage__progress {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 2px;

    background-color: var(--color-light);
    z-index: 1;
}

.homepage__progress::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 50%;
    height: 2px;

    background-color: var(--color-accent);
    z-index: 1;
}

.homepage__dots {
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;

    display: flex;
    gap: 0 1.25rem;
    z-index: 2;
}

.homepage__arrows {
    display: flex;
    gap: 0 2.5rem;

    z-index: 2;
}

.homepage__bg {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    width: 50%;
    z-index: 1;

    opacity: .1;
}

.homepage__logo {
    height: 100%;
}

/* Conditions */

.conditions {
    background-color: var(--color-light);
}

.conditions__title {
    margin-bottom: 0;
}

.conditions__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.conditions__list li {
    display: flex;
    flex-direction: column;
    flex: auto;

    box-sizing: border-box;
}

.conditions__list li:nth-child(2) {
    border-right: solid 1px var(--color-optional-3);
    border-left: solid 1px var(--color-optional-3);
}

.conditions__item {
    padding: 2.5rem 2.5rem 2.5rem 5rem;
    box-sizing: border-box;
}

.conditions__graphics {
    margin-bottom: 5rem;
}

.conditions__problem {
    margin-bottom: 1.25rem;

    font-family: var(--font-optional);
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: bold;
    text-transform: uppercase;
}

.conditions__description {
    margin: 0;

    font-size: 1.5rem;
    line-height: 140%;
}

/* Services */

.services__list {
    display: flex;
    flex-flow: row wrap;
}

.services__item {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    width: 33.33%;
    min-height: 366px;
    box-sizing: border-box;
}

.services__item-wrap {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 1.25rem;
}

.services__num {
    font-family: var(--font-optional);
}

.services__button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    padding: 1.25rem 2.5rem 5rem 5rem;

    color: var(--color-optional-1);
    font-size: inherit;

    transition: background-color .4s ease-out;
}

.services__button--accent {
    color: var(--color-light);
    background-color: var(--color-optional-1);
}

.services__button--accent .services__icon {
    fill: var(--color-light);
}

.services__button--accent .services__hint {
    color: var(--color-light);
}

.services__button:hover .services__hint {
    color: var(--color-accent);
}

.services__button:hover {
    cursor: pointer;
    background-color: var(--color-light);
}

.services__button:focus > span {
    text-decoration: underline;
}

.services__button--accent:hover,
.services__button--accent:focus {
    color: var(--color-light);
    background-color: var(--color-optional-1);
}

.services__hint {
    color: var(--color-optional-1);
    font-family: var(--font-optional);
}

.services__graphics {
    margin-bottom: 5rem;
}

.services__name {
    color: inherit;
    font-size: 2rem;
    font-family: var(--font-main);
    font-weight: normal;
    text-align: left;
}

/* Projects */

.projects {
    border-bottom: solid 1px var(--color-optional-2);
}

.projects__title-wrap {
    display: flex;
    flex-direction: column;
}

.projects__superscript {
    margin-bottom: 1.25rem;
}

.projects__projects {
    display: flex;

    padding: 0 0 5rem 5rem;
}

.projects__project {
    position: relative;

    width: 33.33%;
    padding: 5rem 2.5rem 0 0;
    box-sizing:border-box;
}

.projects__description {
    height: 100%;
}

.projects__description-project {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 2.5rem 0;
}

.projects__year {
    color: var(--color-accent);
    font-size: 1.5rem;
    font-family: var(--font-optional);
    font-weight: bold;
}

.projects__arrows {
    display: flex;
    gap: 0 2.5rem;
}

.projects__works {
    font-size: 2.5rem;
    line-height: 140%;
}

.projects__direction {
    font-size: 2rem;
    line-height: 140%;
}

.projects__button {
    position: absolute;
    bottom: 0;
    left: 0;
}

.projects__slides {
    position: relative;
}

.projects__slide picture {
    display: flex;
}

.projects__dots {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;

    display: flex;
    gap: 0 1.25rem;
}

/* Customers */

.customers__content {
    display: flex;
}

.customers__title-wrap {
    display: flex;
    flex-direction: column;
}

.customers__superscript {
    margin-bottom: .75rem;
}

.customers__subtitle {
    width: 33.33%;
    padding: 5rem 2.5rem 2.5rem 5rem;

    color: var(--color-light);
    font-size: 2rem;
    font-weight: bold;
    line-height: 140%;
    font-family: var(--font-optional);
    text-transform: uppercase;

    background: var(--gradient-1);
}

.customers__types {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
}

.customers__type {
    width: 50%;
    padding: 1.25rem 2.5rem 2.5rem 5rem;
    margin: 0;
    box-sizing: border-box;

    border-bottom: solid 1px var(--color-optional-2);
}

.customers__type:nth-of-type(odd) {
    border-right: solid 1px var(--color-optional-2);
}

.customers__type p {
    margin: 0;
}

.customers__type--dark {
    color: var(--color-light);

    background: var(--gradient-1);
}

.customers__type--dark svg  {
    fill: var(--color-light);
}

.customers__type--dark p  {
    position: relative;

    padding-left: 2.5rem;
}

.customers__type--dark p::before  {
    content: '';
    position: absolute;
    left: 0;
    
    display: block;
    width: 1.25rem;
    height: 100%;

    background-color: var(--color-accent);
}

.customers__num {
    display: inline-block;
    width: 100%;
    margin-bottom: .75rem;

    font-family: var(--font-optional);
    text-align: right;
}

.customers__graphics {
    margin-bottom: 5rem;
}

.customers__icon {
    fill: var(--color-primary);
}

.customers__description {
    font-size: 2rem;
    line-height: 140%;
}

/* Generators */

.generators {
    position: relative;

    padding-bottom: 5rem;
}

.generators__superscript {
    display: inline-block;
    margin-bottom: 1.25rem;

    font-family: var(--font-main);
    font-weight: normal;
    text-transform: none;
}

.generators__slider {
    position: relative;
}

.generators__slides {
    position: relative;

    z-index: 3;
}

.generators__slide {
    /* position: relative; */

    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.generators__description {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem 0;
    width: 34%;
    padding: 5rem 5rem 0 5rem;
    box-sizing: border-box;
    z-index: 2;

    background-color: var(--color-light-trns-025);
}

.generators__arrows {
    display: flex;
    gap: 0 2.5rem;
}

.generators__model {
    font-size: 6rem;
    font-family: var(--font-optional);
    line-height: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

.generators__model span {
    color: var(--color-light);
    text-shadow: 0 0 1px var(--color-primary);
}

.generators__type {
    font-size: 2rem;
    line-height: 140%;
}

.generators__info-wrap {
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5rem 0;
}

.generators__dots {
    display: flex;
    gap: 0 1.25rem;
}

.generators__range-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
}

.generators__range {
    font-size: 2rem;
    line-height: 140%;
    font-family: var(--font-optional);
    text-transform: uppercase;
    font-weight: bold;
}

.generators__range-description {
    font-size: 2rem;
    line-height: 140%;
}

.generators__power {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding: 5rem 2.5rem 0 0;
    box-sizing: border-box;
}

.generators__power-title {
    display: flex;
    align-items: center;
    gap: 0 1.875rem;

    margin-bottom: 5rem;
}

.generators__power-title span {

    font-size: 3rem;
    line-height: 120%;
    font-family: var(--font-optional);
    font-weight: bold;
    text-transform: uppercase;
}

.generators__indicators {
    display: flex;
    flex-direction: column;
    gap: 0 1.25rem;
    margin-bottom: 5rem;
}

.generators__indicator {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 140%;
}

.generators__indicator > span {
    color: var(--color-accent);
    font-size: 6rem;
    line-height: 120%;
    font-family: var(--font-optional);
    font-weight: bold;
    text-transform: uppercase;
}

.generators__measure {
    font-size: .35em;
}

.generators__buttons {
    position: absolute;
    bottom: 0;

    display: flex;
    gap: 0 1.25rem;
    z-index: 2;
}

.generators__buttons li {
    display: flex;
}

.generators__graphics {
    position: absolute;
    left: 0;
    top: 5rem;
    bottom: auto;

    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 670px;
    z-index: 1;
}

.generators__images {
    display: flex;
    justify-content: flex-end;

    width: 60%;
}

.generators__image-wrap {
    display: none;
}

.generators__image-wrap picture {
    display: flex;
}

.generators__image-wrap--active {
    display: block;
}

.generators__bg-model {
    position: absolute;
    top: 0;
    left: 5rem;

    font-size: 16rem;
    line-height: 120%;
    font-family: var(--font-optional);
    font-weight: bold;
    text-transform: uppercase;

    opacity: .1;
    user-select: none;

    z-index: 1;

}

/* Mobile generators */

.generators__mobile-graphics {
    display: none;
}

/* Stats */

.stats {
    position: relative;

    color: var(--color-light);

    padding-bottom: 7.5rem;

    background: var(--gradient-1);
    overflow: hidden;
    user-select: none;
}

.stats__title-wrap {
    position: relative;    

    display: flex;
    flex-direction: column;

    margin-bottom: 5rem;
    padding-bottom: 0;
    z-index: 2;

    border-bottom: none;
}

.stats__title {
    margin-bottom: 0;
}

.stats__superscript {
    margin-bottom: 1.25rem;
}

.stats__facts {
    position: relative;

    display: flex;

    padding-left: 5rem;
    z-index: 2;

    list-style-type: none;
}

.stats__fact {
    position: relative;

    width: 25%;
    padding: 0 2.5rem;
    box-sizing: border-box;
}

.stats__fact::before {
    content: '';
    position: absolute;
    left: 0;
    top: -100%;
    
    width: 1px;
    height: 300%;

    background-color: var(--color-light);
    opacity: .1;
}

.stats__num {
    font-size: 6rem;
    font-family: var(--font-optional);
    line-height: 120%;

    margin-bottom: 5rem;
}

.stats__sign {
    font-size: 3rem;
}

.stats__description {
    position: relative;

    display: block;
    min-height: 5.75rem;

    font-size: 2rem;
    line-height: 140%;
}

.stats__description::before {
    content: '';
    position: absolute;
    left: -2.5rem;
    
    width: 1.25rem;
    height: 100%;

    background-color: var(--color-accent);
}

.stats__logo {
    position: absolute;
    top: 5rem;
    left: 5rem;

    z-index: 1;

    fill: var(--color-light);
    opacity: .1;
}

/* Partners */

.partners {
    display: flex;
    
    border-bottom: solid 1px var(--color-optional-2);
    user-select: none;
}

.partners__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 2.5rem 5rem 5rem;
    box-sizing: border-box;

    border-right: solid 1px var(--color-optional-2);
    overflow: clip;
}

.partners__title-wrap {
    display: flex;
    flex-direction: column;

    padding: 0;
    border: none;
}

.partners__superscript {
    margin-bottom: 1.25rem;
}

.partners__nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;
}

.partners__nums {
    display: flex;
    gap: 0 .25em;

    font-size: 2rem;
    line-height: 140%;
}

.partners__current {
    opacity: .25;
}

.partners__arrows {
    display: flex;
    gap: 0 2.5rem;
}

.partners__list-wrap {
    display: flex;

    width: 100%;
    min-height: 560px;

    overflow: clip;
}

.partners__list {
    display: flex;

    width: 100%;
    margin-bottom: -2px;

    overflow-x: clip;
    
    transition: translateX .4s ease-out;
    transform: translateX(0);
}

.partners__item-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.33%;

    height: 100%;
}

.partners__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;

    margin: -1px;
    border-right: solid 1px var(--color-optional-2);
    border-bottom: solid 1px var(--color-optional-2);
}

/* About */

.about {
    padding: 5rem 2.5rem 0 5rem;

    background-color: var(--color-light);
}

.about__title {
    margin-bottom: 2.5rem;
}

.about__subtitle {
    margin: 0 0 2.5rem 0;

    font-size: 2rem;
    font-family: var(--font-optional);
    text-transform: uppercase;
    line-height: 140%;
}

.about__paragraph {
    margin-bottom: 1.25rem;
}

.about__conditions {
    margin-bottom: 2.5rem;
}

.about__condition,
.about__benefit {
    font-size: 1.5rem;
    line-height: 140%;

    margin-bottom: 1.25rem;
}

.about__condition::before {
    content: '- ';

}

.about__condition:last-of-type {
    margin-bottom: 0;
}

.about__benefits {
    padding-left: 2rem;

    list-style-type: decimal;
}

.about__benefits + .about__paragraph {
    margin-bottom: 0;
}

/* Faq */

.faq {
    background-color: var(--color-light);
}

.faq__title-wrap {
    display: flex;
    flex-direction: column;
}

.faq__superscript {
    margin-bottom: 1.25rem;
}

.faq__title {
    margin-bottom: 0;
}

.faq__questions li {
    padding: 2.5rem 5rem;
    
    border-bottom: inset 1px var(--color-optional-3);
}

.faq__question {
    margin: 0 0 2.5rem 0;

    color: var(--color-accent);
    font-size: 2rem;
    font-family: var(--font-optional);
    line-height: 140%;
    text-transform: uppercase;
}

.faq__answer {
    margin: 0;
    font-size: 1.5rem;
    line-height: 140%;
}


/* Contacts */

.contacts {
    position: relative;

    padding-top: 5rem;
    padding-bottom: 5rem;

    line-height: 140%;

    background-color: #F5F5F5;
}

.contacts__title-wrap {
    position: relative;

    padding: 0;
    margin-bottom: 1.25rem;
    z-index: 2;
    
    border: 0;
}

.contacts__title {
    z-index: 2;
}

.contacts__subtitle {
    margin-bottom: 2.5rem;
    z-index: 2;

    line-height: 140%;
}

.contacts__button {
    position: relative;
    
    margin-bottom: 1.25rem;
    z-index: 2;
}

.contacts__paragraph {
    margin: 0 0 1.25rem 0;

    font-size: 2rem;
    line-height: 140%;
    z-index: 2;
}

.contacts__information {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;

    z-index: 2;

    font-size: 1.5rem;
    line-height: 140%;
}

.contacts__phone,
.contacts__mail {
    transition: color .4s ease-out;
}

.contacts__phone:hover,
.contacts__phone:focus {
    color: var(--color-accent);

    outline: none;
}

.contacts__mail:hover,
.contacts__mail:focus {
    color: var(--color-accent);

    outline: none;
}

.contacts__address {
    font-style: normal;
}

.contacts__bg-logo-light {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    /* z-index: 1; */
}

.contacts__bg-logo-accent {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    /* z-index: 1; */
}

/* Footer */

.footer {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    font-size: 1.25rem;

    background-color: var(--color-accent);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    gap: 0 2.5rem;

    margin: 0;
    padding: 0;

    list-style-type: none;  
}

.footer__link:hover,
.footer__link:focus {
    text-decoration: underline;

    outline: none;
}

/* Nav */

.nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    z-index: 3;

    background-color: var(--color-optional-2);
    overflow: visible;
}

.nav__sections {
    display: flex;
    flex-direction: column;
    gap: .75rem 0;
}

.nav__section {
    position: relative;

    width: .75rem;
    height: .75rem;

    font-size: 0;

    outline: none;
    border-radius: .75rem;
    border: none;
    background-color: var(--color-light);

    transition: background-color .4s ease-out,
                box-shadow .4s ease-out,
                opacity .4s ease-out;
}

.nav__section--active {
    background-color: var(--color-accent);
}

.nav__section::before {
    content: attr(data-description);

    position: absolute;
    top: -.4rem;
    bottom: auto;
    right: 0;

    display: flex;
    align-content: center;
    height: 140%;
    padding: 0 1.25rem .5rem 1.25rem;

    font-size: 1rem;
    font-family: var(--font-optional);
    line-height: 160%;

    opacity: 0;
    border-radius: .25rem;
    background-color: var(--color-light);

    transition: opacity .4s ease-out, 
                transform .4s ease-out;

}

.nav__section:focus::before,
.nav__section:hover::before {
    cursor: pointer;
    opacity: 1;

    transform: translateX(-2.5rem);
}

/* Feedback */

.feedback {
    position: relative;
    top: 0;
    left: 0;
    
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: var(--color-optional-3);

    z-index: 999;
}

.feedback__title-wrap {
    border-bottom: none;
}

.feedback__title {
    color: var(--color-accent);
}

.feedback__subtitle {
    font-size: 2rem;
    line-height: 140%;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;
    padding: 0 2.5rem 2.5rem 5rem;
}

.feedback__inputs {
    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;
}

.feedback__inputs li {
    display: flex;
}

.feedback__input {
    width: 100%;
}

.feedback__agreement {
    font-size: 1.5rem;
    line-height: 140%;
}

.feedback__button {
    align-self: flex-start;
}

.feedback__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
    padding: 2.5rem 2.5rem 2.5rem 5rem;

    background-color: var(--color-accent);
}

.feedback__contacts-address {
    font-size: 1.5rem;
    line-height: 140%;
}

.feedback__contacts-links {
    display: flex;
    gap: 0 1.25rem;
}

.feedback__contacts-link {
    font-size: 1.5rem;
    line-height: 140%;
}

.feedback__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

.agreement {
    position: absolute;
    top: 1%;
    left: 1%;
    right: 1%;
    bottom: 1%;

    display: none;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    z-index: 3;

    line-height: initial;

    transition: opacity .4s ease-out;
}

.agreement__wrap {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;
    padding: 2.5rem;
    box-sizing: border-box;

    line-height: inherit;

    outline: solid 1px var(--color-optional-2);
    background-color: var(--color-light);
    box-shadow: 0 0 1rem var(--color-primary-trns-025);

    transition: opacity .4s ease-out;
}

.agreement__title {
    color: var(--color-accent);
    font-size: 2.25rem;
    font-family: var(--font-optional);
    font-weight: bold;
    line-height: inherit;
    text-transform: uppercase;
}

.agreement__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
    max-height: 18.75rem;

    overflow-y: scroll;
}

.agreement__content {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
    max-height: 18.75rem;
    padding-right: 1.25rem;

    box-sizing: border-box;
    overflow-y: clip;
}

.agreement__content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 2px;
    height: 25%;

    background-color: var(--color-accent);
} 

.agreement__content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 2px;
    height: 100%;

    background-color: var(--color-optional-2);
}    

.agreement__content-scroll {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
    height: auto;
}

.agreement__list {
    display: flex;
    flex-direction: column;
    line-height: inherit;
    gap: 1.25rem;
}

.agreement__list li {
    position: relative;

    font-size: 1.5rem;
}

.agreement__list:nth-of-type(1) li::before {
    content: '- ';
}

.agreement__buttons {
    display: flex;
    gap: 0 1.25rem;
}

.agreement__close {
    content: '';
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;

    z-index: 1;

    stroke: var(--color-primary);
}

.agreement__close svg {
    stroke: inherit;
}

.calculation {
    position: static;
    top: 0;
    z-index: 999;

    display: none;

    background-color: var(--color-light);
}

.calculation__title-wrap {
    margin-bottom: 2.5rem;

    border-bottom: none;
}

.calculation__main {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.calculation__field {
    display: flex;
    flex-flow: row wrap;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}

.calculation__input-wrap {
    position: relative;

    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 1.25rem 0;
    width: calc(50% - 2.5rem);
    box-sizing: border-box;
}

.calculation__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
    padding-top: 5rem;
    padding-bottom: 5rem;

    color: var(--color-light);

    background: var(--gradient-1);
}

.calculation__superscript {
    margin-bottom: 2.5rem;
}

.calculation__contacts-form {
    display: flex;
}

.calculation__contacts-field {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.calculation__contacts-wrap {
    position: relative;
    flex: 0 1 auto;
    width: calc((100% - 5rem) / 3);
}

.calculation__contacts-input {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    /* width: calc((100% - 5rem) / 3); */
}

.calculation__contacts-agreement {
    flex: 1 0 100%;
}

/* Card-service */

.card-service {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    justify-content: center;
    align-items: center;

    width: 1280px;
    margin: 0 auto;
}

.card-service__wrap {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;

    padding: 3.75rem 2.5rem 2.5rem;
    background-color: var(--color-light);
    box-shadow: 0 0 1rem var(--color-primary-trns-025);
}

.card-service__close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
}

.card-service__num {
    position: absolute;
    top: 0;
    left: 1.25rem;

    color: var(--color-primary);
    font-size: 6rem;
    font-family: var(--font-optional);
    font-weight: bold;
    line-height: 120%;

    user-select: none;
    opacity: .05;
}

.card-service__main {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
    z-index: 2;
}

.card-service__title {
    font-size: 1.5rem;
    font-family: var(--font-optional);
    font-weight: bold;
    text-transform: uppercase;
}

.card-service__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
}

.card-service__item {
    display: flex;
    align-items: center;
    gap: 0 1.25rem;

    font-size: 1.25rem;
    line-height: 140%;
}

.card-service__item span {
    display: flex;
    gap: 0 1.25rem;
}

.card-service__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;
}

.card-service__icon svg {
    stroke: var(--color-primary);
}

.card-service__info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
}

.card-service__subtitle {
    color: var(--color-accent);
    font-size: 1.25rem;
    font-family: var(--font-optional);
    font-weight: bold;
    line-height: 140%;
    text-transform: uppercase;
}

.card-service__info-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
}

.card-service__info-item {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;

    font-size: 1.25rem;
}

.card-service__info-item div {
    display: flex;
    gap: 0 1.25rem;

    font-size: 1.25rem;
}

.card-service__button {
    align-self: flex-start;
}